<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://www.mozilla.org/MPL/2.0/.
-->

<div th:fragment="nav(navItems)" class="bottom-nav" xmlns:th="http://www.thymeleaf.org">
    <a th:each="item : ${navItems}" 
       th:href="${item.route}">
        <i th:class="${item.icon}"></i>
        <span th:text="${item.name}"></span>
    </a>
    
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const navLinks = document.querySelectorAll('.bottom-nav a');
        const currentPath = window.location.pathname;
        
        let bestMatchLink = null;
        let maxMatchLength = 0;

        navLinks.forEach(link => {
            const linkPath = link.getAttribute('href');

            if (currentPath === linkPath) {
                if (linkPath.length > maxMatchLength) {
                    bestMatchLink = link;
                    maxMatchLength = linkPath.length;
                }
            } 
            else if (currentPath.startsWith(linkPath + '/') && linkPath !== '/') {
                 if (linkPath.length > maxMatchLength) {
                    bestMatchLink = link;
                    maxMatchLength = linkPath.length;
                }
            }
        });

        if (bestMatchLink) {
            bestMatchLink.classList.add('active');
        }
    });
    </script>
</div>
