<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://www.mozilla.org/MPL/2.0/.
-->

<div th:fragment="nav" class="bottom-nav">
    <a href="/">
        <i class="bi bi-house-door-fill"></i>
        <span>Home</span>
    </a>
    <a href="/schedule">
        <i class="bi bi-calendar2-plus-fill"></i>
        <span>Schedule</span>
    </a>
    <a href="/track">
        <i class="bi bi-clipboard2-data-fill"></i>
        <span>Track</span>
    </a>
    <a href="/about">
        <i class="bi bi-info-circle-fill"></i>
        <span>About</span>
    </a>
</div>