<div th:fragment="navbar">
    <div class="fab-container">
        <button class="fab" id="fabToggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>

        <ul class="nav-links">
            <li><a href="/">Submit Report</a></li>
            <li><a href="/schedule">Schedule Session</a></li>
            <li><a href="/track">Track Report</a></li>
        </ul>
    </div>
</div>