.auth-card {
    max-width: 28rem;
    margin: 4rem auto;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 0 2rem var(--shadow-color);
}

.auth-card-header {
    text-align: center;
    margin-bottom: 2rem;
}

.auth-card-header h2 {
    font-size: 1.5rem;
    font-weight: 600;
}
