<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://www.mozilla.org/MPL/2.0/.
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common :: head('About SafePoint')}"></head>
<body>
    <div th:replace="~{fragments/modular-nav :: nav(${@navigationConfig.studentNav})}"></div>
    <div class="main-content">
        <div th:replace="~{fragments/about-content :: about-content}"></div>
    </div>

    <div th:replace="~{fragments/common :: scripts}"></div>

</body>
</html>