<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <h1>Set New Password</h1>
    <div th:if="${error}" th:text="${error}"></div>
    
    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}">
        <div>
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div>
            <button type="submit">Reset Password</button>
        </div>
    </form>
</body>
</html>
