<!--
This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at https://www.mozilla.org/MPL/2.0/.
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Signup</title>
</head>
<body>
    <h1>Student Signup</h1>
    <p>Please provide your information to create an account. After signing up, check your email for a verification link.</p>
    <form th:action="@{/student-signup}" th:object="${student}" method="post">
        <div>
            <label for="name">Full Name</label>
            <input type="text" id="name" name="name" th:field="*{name}" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" th:field="*{email}" required>
        </div>
        <div>
            <label for="lrn">LRN</label>
            <input type="text" id="lrn" name="lrn" th:field="*{lrn}" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
    <a href="/student-login">Already have an account? Login</a>
</body>
</html>
